In [2]:
from bs4 import BeautifulSoup
import requests
import time, os
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import csv

In [10]:
driver = webdriver.Chrome('C:/LSY/Metis/chromedriver.exe')
url ="https://data.gov.sg/dataset/resale-flat-prices/resource/42ff9cfe-abe5-4b54-beda-c88f9bb438ee/view/8481923a-3673-4b4c-b443-5a5bf5127215"
table_xpath = '//*[@id="table-view"]'
next_button_xpath = 1
number_of_pages_to_scrap = 134
df_to_save = pd.DataFrame()

In [21]:
def get_html_table_as_df(table_xpath,df_to_save):
   
   '''This reads HTML tables into a list of DataFrame objects.
      If the df to save the data to is not empty, this function appends cases'''

    
   table_html = driver.find_element_by_xpath(table_xpath).get_attribute('outerHTML')
   data_table = pd.read_html(table_html)

   if df_to_save.empty:
         df_to_save = pd.DataFrame(data_table)
   
   else: df_to_save = df_to_save.append(data_table)
   
   return df_to_save


def data_gov_table_scrapper(url, table_xpath, number_of_pages_to_scrap,next_button_xpath,df_to_save):
   
   '''This  scraps a table from data.gov.sg on every page and returns a df.
   Rmb to create an empty df to save the data to before executing this function'''
  
   driver.get(url)
   
   time.sleep(2) ###to ensure entire page has been loaded
   
   for page in range(number_of_pages_to_scrap):
       
        if page == 0:
            
            df_to_save = get_html_table_as_df(table_xpath,df_to_save)
            
        if page == number_of_pages_to_scrap-1:
            
            df_to_save = get_html_table_as_df(table_xpath,df_to_save)
            
            df_to_save1 =df_to_save[2:] 
                      
            df_to_save1.to_csv("data.csv")  #data1 removes [2:], data2 tries improve cleanliness of code.
            
            return df_to_save1
            
            break
        
        else:
            
            df_to_save = get_html_table_as_df(table_xpath,df_to_save)
            
            next_button_xpath += 1  
            
            next_button_xpath1=str(next_button_xpath)  #convert int to string and use it as link text.
            
            next_page = driver.find_element_by_link_text(next_button_xpath1) #Locate hyperlinks by link text.
            
            next_page.click()
            
            
data_gov_table_scrapper(url, table_xpath, number_of_pages_to_scrap,next_button_xpath,df_to_save)

,0,Block,Flat model,Flat type,Floor area sqm (Sqm),Lease commence date,Month,Remaining lease,Resale price ($),Storey range,Street name,Town
0,NaN,548A,Model A,4 ROOM,92.0,2015.0,2020-07,94 years 06 months,410000.0,13 TO 15,SEGAR RD,BUKIT PANJANG
1,NaN,456,Premium Apartment,4 ROOM,93.0,2012.0,2020-07,91 years 05 months,395000.0,07 TO 09,SEGAR RD,BUKIT PANJANG
2,NaN,547B,Model A,4 ROOM,92.0,2015.0,2020-07,94 years 01 month,405888.0,04 TO 06,SEGAR RD,BUKIT PANJANG
3,NaN,547A,Model A,4 ROOM,92.0,2015.0,2020-07,94 years 01 month,450000.0,16 TO 18,SEGAR RD,BUKIT PANJANG
4,NaN,550B,Model A,4 ROOM,92.0,2015.0,2020-07,94 years 06 months,425000.0,10 TO 12,SEGAR RD,BUKIT PANJANG
...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,643,Maisonette,EXECUTIVE,146.0,1987.0,2020-07,66 years 03 months,575000.0,10 TO 12,YISHUN ST 61,YISHUN
1,NaN,614,Maisonette,EXECUTIVE,146.0,1987.0,2020-07,65 years 10 months,568888.0,04 TO 06,YISHUN ST 61,YISHUN
2,NaN,643,Apartment,EXECUTIVE,142.0,1987.0,2020-07,66 years 02 months,540000.0,10 TO 12,YISHUN ST 61,YISHUN
3,NaN,724,Apartment,EXECUTIVE,145.0,1986.0,2020-07,65 years,535000.0,04 TO 06,YISHUN ST 71,YISHUN
4,NaN,633,Multi Generation,MULTI-GENERATION,171.0,1987.0,2020-07,66 years 05 months,775000.0,01 TO 03,YISHUN ST 61,YISHUN